# Xcode
build/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Misc
*.dmg
*.app
*.zip
scripts/*.log
temp_build/
tmp/
